*
{
    background-image: url(../images/bg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {

    color: darkslategrey;
}
.title{

    color: rgb(47, 53, 139);
}

#heading
{

    color: blueviolet;
}

h1, h2 {

    font-style: italic;
}